body {
  background-color: #000000;
  margin: 0px;
  overflow: hidden;
  font-family:Monospace;
  font-size:13px;
  text-align:center;
  font-weight: bold;
  text-align:center;
}

a {
  color:#659bf3;
}

#info {
  max-width: 260px;
  color: #3f4e68;
  position: absolute;
  bottom: 0px;
  padding: 5px;
  z-index:100;
}
#info p {
  text-align: left;
  margin: 0;
}
