html, body {
  margin: 0;
  height: 100%;
}

line {
  stroke: red;
}

path {

}

g.group0 path,
g.group0 circle {
  stroke: red;
  fill: none;
}

g.hidden line,
g.hidden path {
  display: none;
}

g.tick line {
  stroke: blue;
}

g.tick text {
  font-size: 12px;
  fill: purple;
}

p {
  width: 49%;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
}
