{% extends '../base.html' %}
{% block title %}
Пост [Фокшаны.] Еще переходъ до Фо…
{% endblock %}
{% block content %}
<div class="container py-5">
	<div class="row">
		<aside class="col-12 col-md-3">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Дата публикации: 31 июля 1854</li>
				<li class="list-group-item">
					{% if post.group %}
						Группа: Группа: Лев Толстой – зеркало русской революции
						<a href="{% url "group" group_slug="test" %}">все записи группы</a>
					{% endif %} 
				</li>
				<li class="list-group-item">Автор: Лев Толстой leo</li>
				<li
					class="
						list-group-item
						d-flex
						justify-content-between
						align-items-center
					"
				>
					Всего постов автора: <span>36</span>
				</li>
				<li class="list-group-item">
					<a href="{% url "profile" username=user %}"> все посты пользователя </a>
				</li>
			</ul>
		</aside>
		<article class="col-12 col-md-9">
			<p>
				[Фокшаны.] Еще переходъ до Фокшанъ, во время котораго я ѣхалъ съ
				Монго. Человѣкъ пустой, но съ твердыми, хотя и ложными
				убѣжденіями. Генерал[у] по этому должно быть случаю, угодно было
				спрашивать о моемъ здоровьи. Свинья! К[о]вырялъ носъ и ничего не
				написалъ — вотъ 2 упрека за нын[ѣшній] день. Послѣдній упрекъ
				становится слишкомъ частъ, хотя походъ и можетъ служить въ немъ
				отчасти извиненіемъ. Отношенія мои съ товарищами становятся такъ
				пріятны, что мнѣ жалко бросить штабъ. Здоровье кажется (2)
				лучше.
			</p>
			<!-- эта кнопка видна только автору -->
			<a class="btn btn-primary" href="{% url "update_post" post_id="0" %}">
				редактировать запись
			</a>
		</article>
	</div>
</div>
{% endblock %}
