{% extends '../base.html' %}
{% block title %}
{{ post.id }}
{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Дата публикации:</b><br>{{ post.pub_date }}</li>
        {% if post.group %}
        <li class="list-group-item">
          <b>Группа: </b> «<i>{{ post.group.title }}</i>» <br>
          <a href="{% url "group_list" group_slug=post.group.slug %}">все записи группы</a>
        </li>
        {% endif %} 
        <li class="list-group-item"><b>Автор: </b> {{ post.author.username }}</li>
        <li
          class="
            list-group-item
            d-flex
            justify-content-between
            align-items-center
          "
        >
          <b>Всего постов автора: </b><span>{{ posts_by_user }}</span>
        </li>
        <li class="list-group-item">
          <a href="{% url "profile" username=post.author.username %}"> все посты пользователя </a>
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>
        {{ post.text }}
      </p>
      {% if is_edit %}
      <!-- эта кнопка видна только автору -->
      <a class="btn btn-primary" href="{% url "post_edit" post_id=post.id %}">
        редактировать запись
      </a>
      {% endif %}
    </article>
  </div>
</div>
{% endblock %}
